<div class="mt-4">
  <label class="block">{{ label }}<label>
  <input data-testid="{{ dataTestId }}" value="{{ flashMessages.get(name, '') || ''}}" name="{{ name }}" type="{{ type }}" placeholder="{{ placeholder}}" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" />
  @if(errors)
  <span class="text-xs text-red-400">{{ errors }}</span>
  @end
</div>
