@layout('layouts/main')
@set('title', 'Dashboard')
@section('body')
<div class='w-screen h-screen flex flex-row'>
<aside class='h-full w-56 shadow-md z-10'>
</aside>
<section class='h-16 shadow-md w-full'>
</section>
</div>
@end
